Cmaenas_minion_data/**
workflow/AssemblyFasta/**
workflow/Diamond/**
workflow/PorechopABI/**
workflow/ProwlerProcessed/**
workflow/SACRAResults/**
workflow/MITOS2Results/**
workflow/FlyeResults/**
.snakemake/**
workflow/.snakemake/**
workflow/.snakemake/**
tuning-params/input-file/10-Fasta-Files-After-Prow
!workflow/AssemblyFasta/.gitkeep
!workflow/Diamond/.gitkeep
!workflow/PorechopABI/.gitkeep
!workflow/ProwlerProcessed/.gitkeep
!workflow/SACRAResults/.gitkeep
!workflow/MITOS2Results/.gitkeep
!workflow/FlyeResults/.gitkeep
!Cmaenas_minion_data/.gitkeep